{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">{{ 'Login'|trans }}</div>
                    <div class="card-body">
                        <form method="post">
                            <label for="inputIdentifiant">Identifiant</label>
                            <input type="text" value="" name="identifiant" id="inputIdentifiant" class="form-control" required autofocus>
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                            <div class="mt-3">
                                <button type="submit" class="btn btn-primary">{{ 'Login '|trans }}</button>
                            </div>
                            <div class="mt-3">
                                <a href="{{ path('app_signin') }}">Sign in page</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}